.menu{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100vh;
 background-color: $black; 
 color: $white;
 z-index: 1000;
 &__menu{
   position: relative;
   z-index: 2;
  //  height: 100%;
   margin-top: auto;
   display: flex;
   flex-direction: column;
 }
 &__title{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;

 }
 &__svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -70%);
  z-index: 1;
  width: 60vw;
  height: auto;
  @include media-breakpoint-down(md) {
    width: 100vw;
  }
  @include media-breakpoint-down(sm) {
    width: 120vw;
  }
 }
}