@import "swiper";
@import "bootstrap/bootstrap";
@import "variables";
@import "other";
@import "animate";
@import "header";
@import "footer";
@import "mainPage";
@import "about";
@import "serv";
@import "proj";
@import "news";
@import "contact";