.header{
  position: fixed;
  top: 30px;
  left: 4.16vw;
  right: 4.16vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 100px;
  padding: 14px 30px;
  user-select: none;
  &__lang{
    display: flex;
    & *+*{
      margin-left: 10px;
    }
  }
  &__menu{
    margin-left: 15vw;
    & *+*{
      margin-left: 60px;
    }
  }
}
.logo{
  display: flex;
  align-items: center;
  svg{
    margin-right: 10px;
  }
}