.mFirst{
  height: 100vh;
  width: 100%;
  background-color: $orange;
  color: $black;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  &__content{
    width: 100%;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(sm) {
      margin-bottom: 60px;
    }
  }
  &__svg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vmin;
    height: 100vmin;
    transform: translate(-50%, -50%);
    overflow: visible;
  }
  &__list{
    display: flex;
    flex-direction: column;
  }
}
.mSecond{
  height: 100vh;
  width: 100%;
  background-color: $grayL;
  color: $black;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title{
    // display: flex;align-items: center;
    &::before{
      content: "";
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      background-color: $red;
      border-radius: 1em;
      margin-right: 0.6em;

    }
  }
}
.mVideo{
  height: 100vh;
  width: 100%;
  background-color: $black;
  background-image: url(/img/video.jpg);
  background-size: cover;
  color: $white;
  position: relative;
  z-index: 3;
  &__quotes{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
  }
  &__quote{
    position: absolute;
    top: 0;
    // left: 0;
    max-width: 800px;
    margin: 0 4.16vw;
    svg{
      position: relative;
      top: -0.2em;
      height: 0.8em;
      margin-right: 3.16vw;
    }
  }
}
.mSecond{
  &__tagsWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
  }

  &__tags{
    background-color: $black;
    padding: 20px 45px;
    border-radius: 100px;
    display: inline-block;
    text-transform: uppercase;
  }
}
.mVideoWrap{
  width: 100%;
  height: 300vh;
}
.mVideo{
  height: 100vh;
  width: 100%;
  background-color: $black;
  overflow: hidden;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $white;
    background: radial-gradient(circle at center, rgba($white, 0) 50vmin, $white 50vmin);
  }
}

.mAdvantages{
  background-color: $red;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    padding-bottom: 100px;
  }
  &__title{
    &_1{
      &::before{
        content: '';
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        border-radius: 1em;
        background-color: $white;
        margin-right: 4.16vw;
      }
    }
    &_2{
      margin-left: 12.5vw;
    }
    &_5{
      margin-left: 100/24*5vw;
    }
  }
}
.mProd{
  background-color: $white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 7;
  display: flex;
  @include media-breakpoint-down(md) {
    height: auto;
  }
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
  &__item{
    width: 50%;
    height: 100%;
    padding: 4.16vw;
    border: 1px solid $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(md) {
      height: auto;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      border: none;
      border-bottom: 1px solid $black;
    }
  }
  &__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__img{
    position: relative;
    width: 80%;
    @include media-breakpoint-down(md) {
      margin: 40px 0;
    }
    &::before{
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10000px;
    }
  }
  &__footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__item + &__item{
    border-left: 0;
  }
  &__btn{
    color: $red;
    text-transform: uppercase;
    display: flex;align-items: center;
    &::before{
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      background-color: $red;
      border-radius: 1em;
      margin-right: 1em;

    }
  }
}
.mProjWrap{
  width: 100%;
  height: 400vh;
  @include media-breakpoint-down(md) {
    height: 200vh;
  }
}
.mProj{
  height: 100vh;
  width: 100%;
  background-color: $grayL;
  overflow: hidden;
  position: relative;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  &__title{
    &::before{
      content: '';
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      border-radius: 1em;
      background-color: $red;
      margin-right: 4.16vw;
    }
  }
  &__or1{
    transform-origin: center;
  }
  &__or2{
    transform-origin: center;
  }
  &__svg{
    width: 100%;
    height: auto;
    overflow: visible;
  }
  &__textWrap{
    position: relative;
    width: 100%;
    height: 0;
  }
  &__text{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    &::before{
      content: '';
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      border-radius: 1em;
      background-color: $black;
      margin-right: 1em;
    }
  }
}
.mMapWrap{
  width: 100%;
  height: 200vh;
}
.mMap{
  background-color: $white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  display: flex;
  &__col1{
    color: $white;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
  }
  &__col2{
    color: $white;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    // transform: translateX(-50%);
  }
  &__county{
    & *:nth-of-type(2){
      margin-left: 8.33vw;
    }
    & *:nth-of-type(3){
      margin-left: 4.17vw;
    }
    &::before{
      content: '';
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      border-radius: 1em;
      background-color: $white;
      margin-right: 1em;
      mix-blend-mode: normal;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
  }
  &__title{
    &::before{
      content: "";
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
      border-radius: 1em;
      background-color: $red;
      margin-right: 1em;
    }
    & span:nth-of-type(2){
      margin-left: 8.33vw;
    }
  }
}
.mEvents{
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  background-color: $white;
  &__c1{
    stroke-dasharray: 2510;
    stroke-dashoffset: -2510;
  }
  &__c2{
    stroke-dasharray: 2510;
    stroke-dashoffset: -2510;
  }
  &__svg{
    width: 100%;
    height: auto;
  }
  &__title{

    & span:nth-of-type(1){
      // margin-left: 8.33vw;
      color: $red;
      &::before{
        content: "";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        border-radius: 1em;
        background-color: $red;
        margin-right: 1em;
      }
    }
    & span:nth-of-type(2){
      margin-left: 8.33vw;
    }
    & span:nth-of-type(3){
      margin-left: 8.33vw;
    }
    & span:nth-of-type(4){
      margin-left: 4.16vw;
      &::after{
        content: "";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        border-radius: 1em;
        background-color: $black;
        margin-left: 1em;
      }
    }
    & span:nth-of-type(5){
      margin-left: 12.5vw;
      color: $red;
    }
  }
}
.footer{
  background-color: $black;
  color: $white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__btn{
    color: $red;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &::before{
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 1em;
      background-color: $red;
      margin-right: 1em;
    }
  }
  &__footer{
    border: 1px solid $grayL;
    border-radius: 50px;
    padding: 20px 0;
  }
  &__title{
    span{
      margin-left: 20vw;
    }
  }
}