// .wpcf7-not-valid-tip{
//   display: none !important;
// }
// .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form .wpcf7-response-output, .wpcf7 form .wpcf7-response-output {
//   border:none !important;
//   padding: 0 !important;
//   margin: 20px 0 !important;
// }


// .ac {
//   & .ac-header{
//     transition: 0.3s;
//     &:hover{
//       background-color: $secondary;
//     }
//   }
//   & .ac-trigger {
//   }
//   & .ac-panel {
//     overflow: hidden;
//     transition-property: height, visibility;
//     transition-timing-function: ease;
//     // border-bottom: 1px solid $gray;
//   }
//   &.js-enabled .ac-panel {
//     // visibility: hidden;
//   }  
//   &.is-active {
//     & .ac-panel {
//       visibility: visible;
//     }
//     // & svg{
//     //   transform: rotate(180deg) ;
//     //   stroke: $primary;
//     // }
//   }
// }


.swiper-container{
  overflow: visible;
}
.mySwiper{
  .swiper-slide{
    opacity: 0.6;
    transition: opacity 0.3s;
  } 
  .swiper-slide-active{
    opacity: 1;
  }
}

.headroom {
  -webkit-transition: 1s;
  transition: 1s;
}

.headroom--pinned, .headroom--top, .headroom--bottom {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.headroom--unpinned {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}