

.noise {
  animation: noise 1.2s steps(3) infinite both;
  background: url(~@/assets/img/bg-noise.png);
  height: 400%;
  left: -50%;
  pointer-events: none;
  position: fixed;
  top: -50%;
  width: 400%;
  will-change: auto;
  z-index: 99999;
  opacity:0.5;
}

@keyframes noise {
  0% {
      -webkit-transform: translate3d(1%,-1%,0);
      transform: translate3d(1%,-1%,0)
  }

  10% {
      -webkit-transform: translate3d(-5%,-2%,0);
      transform: translate3d(-5%,-2%,0)
  }

  20% {
      -webkit-transform: translate3d(10%,5%,0);
      transform: translate3d(10%,5%,0)
  }

  30% {
      -webkit-transform: translate3d(5%,-11%,0);
      transform: translate3d(5%,-11%,0)
  }

  40% {
      -webkit-transform: translate3d(-12%,-5%,0);
      transform: translate3d(-12%,-5%,0)
  }

  50% {
      -webkit-transform: translate3d(10%,9%,0);
      transform: translate3d(10%,9%,0)
  }

  60% {
      -webkit-transform: translate3d(15%,0,0);
      transform: translate3d(15%,0,0)
  }

  70% {
      -webkit-transform: translate3d(-10%,8%,0);
      transform: translate3d(-10%,8%,0)
  }

  80% {
      -webkit-transform: translate3d(10%,2%,0);
      transform: translate3d(10%,2%,0)
  }

  90% {
      -webkit-transform: translate3d(1%,5%,0);
      transform: translate3d(1%,5%,0)
  }

  to {
      -webkit-transform: translate3d(0,8%,0);
      transform: translate3d(0,8%,0)
  }
}



.print{
  border: 1px solid currentColor;
  padding: 15px 15px 30px 15px;
  img{
    min-height: 190px;
    object-fit: cover;
    border: 1px solid currentColor;
  }
}

.mAdvItem{
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid currentColor;
  &:first-of-type{
    border-top: 1px solid currentColor;
  }
}

.red{
  color: $red;
}
// .mBottom{
//   min-height: 100vh;
// }

.line{
  width: 100%;
  height: 1px;
  background-color: currentColor;
}



.persItem{
  background-color: $white;
  color: $dark;
  padding: 10px 10px 20px 10px;
  img{
    border: 1px solid currentColor;
  }
}

.cartItem{
  background-color: $white;
  color: $dark;
  padding: 10px 10px 20px 10px;
  img{
    border: 1px solid currentColor;
  }
  &_red{
    background-color: $red;
    color: $white;
  }
  &_gray{
    background-color: $gray;
    color: $white;
  }
}

.tag{
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid currentColor;
  border-radius: 100px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: max-content;
}
.tagsW{
  display: flex;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}
.blogBody{
  // display: grid;
  // gap: 3vw;
  // grid-template-columns: repeat(3, 1fr);
  // @include media-breakpoint-down(md) {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  // @include media-breakpoint-down(sm) {
  //   grid-template-columns: repeat(1, 1fr);
  // }

}

.moreBlog{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid currentColor;
  span + span{
    margin-left: 30px;
  }
  transition: 0.3s;
  &:hover{
    color: #ED2330 !important;
    border-color: #212529; 
  }
  &_white{
    &:hover{
      color: #ED2330 !important;
      border-color: #f8f8f8; 
    }
  }
}

// .slide-fade-enter-active {
//   transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
// }
// .slide-fade-leave-active {
//   transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
//   opacity: 0;

// }
// .slide-fade-enter, .slide-fade-leave-active {
//   // padding-left: 10px;
//   opacity: 0;
// }

.tag{
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-color: #212529;
  color: #212529;
  cursor: pointer;
  & *{
    position: relative;
    z-index: 2;
  }
  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: #212529;
    z-index: 1;
    transform: translate(101%, 0%);
    transition: 0.4s;
  }

  &:hover{
    &::before{
      transform: translate(0, 0);
    }
    color: #f8f8f8;
  }
}
.tag_W{
  border-color: #f8f8f8;
  color: #f8f8f8;
  &::before{
    background-color: #f8f8f8;

  }
  &:hover{
    color: #212529;
  }
}
.tag{
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-color: #212529;
  color: #212529;
  & *{
    position: relative;
    z-index: 2;
    pointer-events: none;
  }
  &::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: #212529;
    z-index: 1;
    transform: translate(101%, 0%);
    transition: 0.4s;
  }

  &:hover, &.active{
    &::before{
      transform: translate(0, 0);
    }
    color: #f8f8f8;
  }
}

.tag_W{
  border-color: #f8f8f8;
  color: #f8f8f8;
  &::before{
    background-color: #f8f8f8;
  }
  &:hover{
    color: #212529;
  }
  &.active{
    color: #212529;
  }
}