@import "var/color";
@import "var/font";

*,
*:hover,
*:focus,
*:active {
  outline: none !important;
}

* {
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}

html {
  // scroll-behavior: smooth;
  font-size: 14px;
  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
  background-color: $bg;
  color: $white;
}

ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

a,
button {
  outline: none;
}

::-webkit-scrollbar {
  background-color: $dark;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 20px;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.siteWrap, .overflow-hidden, .noscroll  {
  overflow: hidden;
}

@mixin pTop($mpXL, $mpLG, $mpMD, $mpSM) {
  padding-top: $mpXL;
  @include media-breakpoint-down(lg) {
    padding-top: $mpLG;
  }
  @include media-breakpoint-down(md) {
    padding-top: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    padding-top: $mpSM;
  }
}
@mixin pBot($mpXL, $mpLG, $mpMD, $mpSM) {
  padding-bottom: $mpXL;
  @include media-breakpoint-down(lg) {
    padding-bottom: $mpLG;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: $mpSM;
  }
}

@mixin mTop($mpXL, $mpLG, $mpMD, $mpSM) {
  margin-top: $mpXL;
  @include media-breakpoint-down(lg) {
    margin-top: $mpLG;
  }
  @include media-breakpoint-down(md) {
    margin-top: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    margin-top: $mpSM;
  }
}
@mixin mBot($mpXL, $mpLG, $mpMD, $mpSM) {
  margin-bottom: $mpXL;
  @include media-breakpoint-down(lg) {
    margin-bottom: $mpLG;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: $mpMD;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: $mpSM;
  }
}
.m-t-350 {
  @include mTop(350px, 250px, 200px, 150px);
}
.m-b-350 {
  @include mBot(350px, 250px, 200px, 150px);
}
.p-t-350 {
  @include pTop(350px, 250px, 200px, 150px);
}
.p-b-350 {
  @include pBot(350px, 250px, 200px, 150px);
}

.m-t-250 {
  @include mTop(250px, 180px, 150px, 120px);
}
.m-b-250 {
  @include mBot(250px, 180px, 150px, 120px);
}
.p-t-250 {
  @include pTop(250px, 180px, 150px, 120px);
}
.p-b-250 {
  @include pBot(250px, 180px, 150px, 120px);
}

.m-t-150 {
  @include mTop(150px, 120px, 80px, 60px);
}
.m-b-150 {
  @include mBot(150px, 120px, 80px, 60px);
}
.p-t-150 {
  @include pTop(150px, 120px, 80px, 60px);
}
.p-b-150 {
  @include pBot(150px, 120px, 80px, 60px);
}

.m-t-100 {
  @include mTop(100px, 80px, 80px, 50px);
}
.m-b-100 {
  @include mBot(100px, 80px, 80px, 50px);
}
.p-t-100 {
  @include pTop(100px, 80px, 80px, 50px);
}
.p-b-100 {
  @include pBot(100px, 80px, 80px, 50px);
}

.m-t-80 {
  @include mTop(80px, 60px, 60px, 35px);
}
.m-b-80 {
  @include mBot(80px, 60px, 60px, 35px);
}
.p-t-80 {
  @include pTop(80px, 60px, 60px, 35px);
}
.p-b-80 {
  @include pBot(80px, 60px, 60px, 35px);
}

.m-t-50 {
  @include mTop(50px, 40px, 40px, 30px);
}
.m-b-50 {
  @include mBot(50px, 40px, 40px, 30px);
}
.p-t-50 {
  @include pTop(50px, 40px, 40px, 30px);
}
.p-b-50 {
  @include pBot(50px, 40px, 40px, 30px);
}

.m-t-25 {
  @include mTop(25px, 15px, 15px, 10px);
}
.m-b-25 {
  @include mBot(25px, 15px, 15px, 10px);
}
.p-t-25 {
  @include pTop(25px, 15px, 15px, 10px);
}
.p-b-25 {
  @include pBot(25px, 15px, 15px, 10px);
}

.m-t-15 {
  @include mTop(15px, 10px, 10px, 5px);
}
.m-b-15 {
  @include mBot(15px, 10px, 10px, 5px);
}
.p-t-15 {
  @include pTop(15px, 10px, 10px, 5px);
}
.p-b-15 {
  @include pBot(15px, 10px, 10px, 5px);
}

.m-t-10 {
  @include mTop(10px, 10px, 10px, 10px);
}
.m-b-10 {
  @include mBot(10px, 10px, 10px, 10px);
}
.p-t-10 {
  @include pTop(10px, 10px, 10px, 10px);
}
.p-b-10 {
  @include pBot(10px, 10px, 10px, 10px);
}

.m-t-200 {
  @include mTop(200px, 180px, 160px, 160px);
}
.m-b-200 {
  @include mBot(200px, 180px, 160px, 160px);
}
.p-t-200 {
  @include pTop(200px, 180px, 160px, 160px);
}
.p-b-200 {
  @include pBot(200px, 180px, 160px, 160px);
}

.m-t-160 {
  @include mTop(160px, 140px, 140px, 100px);
}
.m-b-160 {
  @include mBot(160px, 140px, 140px, 100px);
}
.p-t-160 {
  @include pTop(160px, 140px, 140px, 100px);
}
.p-b-160 {
  @include pBot(160px, 140px, 140px, 100px);
}

.m-t-100 {
  @include mTop(100px, 80px, 80px, 60px);
}
.m-b-100 {
  @include mBot(100px, 80px, 80px, 60px);
}
.p-t-100 {
  @include pTop(100px, 80px, 80px, 60px);
}
.p-b-100 {
  @include pBot(100px, 80px, 80px, 60px);
}

.m-t-60 {
  @include mTop(60px, 60px, 40px, 40px);
}
.m-b-60 {
  @include mBot(60px, 60px, 40px, 40px);
}
.p-t-60 {
  @include pTop(60px, 60px, 40px, 40px);
}
.p-b-60 {
  @include pBot(60px, 60px, 40px, 40px);
}

.m-t-40 {
  @include mTop(40px, 30px, 30px, 30px);
}
.m-b-40 {
  @include mBot(40px, 30px, 30px, 30px);
}
.p-t-40 {
  @include pTop(40px, 30px, 30px, 30px);
}
.p-b-40 {
  @include pBot(40px, 30px, 30px, 30px);
}

.m-t-20 {
  @include mTop(20px, 15px, 15px, 15px);
}
.m-b-20 {
  @include mBot(20px, 15px, 15px, 15px);
}
.p-t-20 {
  @include pTop(20px, 15px, 15px, 15px);
}
.p-b-20 {
  @include pBot(20px, 15px, 15px, 15px);
}

.p-t-0 {
  padding-top: 0;
}
.p-b-0 {
  padding-bottom: 0;
}
.m-t-0 {
  margin-top: 0;
}
.m-b-0 {
  margin-bottom: 0;
}

.m-t-a {
  margin-top: auto;
}
.mp0 {
  margin: 0;
  padding: 0;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-5 {
  z-index: 5;
}
.z-10 {
  z-index: 10;
}
.z-100 {
  z-index: 100;
}

@mixin fontS($fsXL, $fsLG, $fsMD, $fsSM) {
  font-size: $fsXL;
  @include media-breakpoint-down(lg) {
    font-size: $fsLG;
  }
  @include media-breakpoint-down(md) {
    font-size: $fsMD;
  }
  @include media-breakpoint-down(sm) {
    font-size: $fsSM;
  }
}

// .h1 {
//   font-family: 'Atyp Display';
//   font-style: normal;
//   font-weight: normal;
//   line-height: 110%;
//   @include fontS(80px, 52px, 52px, 28px);
// }

.h2 {
  font-family: Twentytwelve, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 50%;
  @include fontS(250px, 160px, 130px, 60px);
}

.h3 {
  font-family: Twentytwelve, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 90%;
  @include fontS(150px, 100px, 72px, 44px);
}

.h4 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.035em;
  @include fontS(150px, 100px, 80px, 50px);
}

.h5 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  @include fontS(100px, 60px, 60px, 40px);
}

.h6 {
  font-family: Twentytwelve, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  @include fontS(100px, 60px, 48px, 32px);
}

.h7 {
  font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 110%;
  @include fontS(44px, 34px, 28px, 24px);
}

.h8 {
  font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 120%;
  @include fontS(34px, 24px, 24px, 24px);
}

.h9 {
  font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 120%;
  @include fontS(22px, 18px, 16px, 16px);
}

.p1,
p,
li,
li > a {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  @include fontS(16px, 14px, 14px, 14px);
}

.ttu {
  text-transform: uppercase;
}

.tdu {
  text-decoration: underline;
}

.fwb {
  font-weight: 900;
}

.w-100 {
  width: 100% !important;
  height: auto;
}

.h-100 {
  height: 100%;
  object-fit: cover;
}


.imgW {
  position: relative;
  display: block;
  &::after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.h7 {
  font-family: Montserrat, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 110%;
  @include fontS(44px, 34px, 28px, 24px);
}
input {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  width: 100%;
  background: transparent;
  color: currentColor;
  border: none;
  border-bottom: 1px solid currentColor;
  padding: 15px 0;
  margin-bottom: 40px;
  font-weight: normal;
  line-height: 150%;
  font-size: 44px;
  line-height: 140%;
  // text-transform: uppercase;
  @include fontS(44px, 34px, 28px, 24px);
  &::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: normal;
    line-height: 150%;
    text-transform: uppercase;
    @include fontS(44px, 34px, 28px, 24px);
    line-height: 140%;
  }
}

.bg {
    background-color: $bg;
    color: $white;
  &_w {
    background-color: $bg-w;
    color: $dark;
  }
  &_g {
    background-color: $bg-g;
    color: $dark;
  }
  &_r {
    background-color: $red;
    color: $white;
  }
}
.gray{
  color: $gray;
}
.d-inline-grid {
  display: inline-grid;
}
