.aText{
  &__title{
    margin-top: -4.4em;
  }
}

.revBig{
  &__title{
    margin-top: -3.4em;
  }
}

.histSwiper {
  overflow: visible;
  &__year{
    width: 70%;
    transition: 0.3s;
  }
  &__text{
    width: 70%;
  }
  &__line{
    position: relative;

    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 70%;
      height: 3px;
      top: -1px;
      background-color: $secondary;
      opacity: 0;
      transition: 0.3s;

    }
  }
  .swiper-slide{
    opacity: 0.6;
    transition: 0.4s;
  }
  .swiper-slide-active{
    opacity: 1;
  }
  .swiper-slide-active {
    .histSwiper__line{
      &::before{
        opacity: 1;
      }
    } 
    .histSwiper__year{
      color: $secondary;
    } 
  }
}
.team1Swiper, .team2Swiper{
  overflow: visible;
}

.team1Swiper{
  &__pers{
    width: 93%;
    position: relative;
    &::before{
      content: "";
      display: block;
      padding-bottom: 120%;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba($color: $primary, $alpha: 0.6);
    color: $white;
    opacity: 0;
    transition: 0.4s ease-in-out ;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__pers:hover &__name{
    opacity: 1;
  }
}