.fadeInUp{
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.8s;
}
.fadeInRight{
  transform: translateX(100%) !important;
  transition: 0.8s;
}
.mFirst__title{
  position: relative;
  overflow: hidden;
  &::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.9s;
    background-color: $black1;
  }
  // width: 0;
  transition: 0.3s;
}
.anim{

  .mFirst__title{
    &::before{
      transform: translateX(110%);
    }
  }
  .fadeInUp{
    transform: translateY(0);
    opacity: 1;
  }
  .fadeInRight{
    transform: translateX(0) !important;
  }
}
.bgLeft{
  position: relative;
  overflow: hidden;
  visibility: visible !important;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg;
    transition: 1s ease-out;
  }
  & img{
    transform: scale(1.4);
    transition: 2s ease-out;
  }
  &.animated{
    &::after{
      transform: translateX(-105%);
    }
    & img{
      transform: scale(1);
    }
  }
}
.bgBottom{
  position: relative;
  overflow: hidden;
  visibility: visible !important;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg;
    transition: 1s ease-out;
  }
  & img{
    transform: scale(1.4);
    transition: 2s ease-out;
  }
  &.animated{
    &::after{
      transform: translateY(-105%);
    }
    & img{
      transform: scale(1);
    }
  }
}
.textUp{
  position: relative;
  overflow: hidden;
  &>*{
    transform: translateY(120%);
    transition: 0.5s;
  }
  &.animated{
    &>*{
      transform: translateX(0%);
    }
  }
}
.lineLeft{
  transform: translateX(110%);
  transition: 1.5s ease-out;
  &.animated{
    transform: translateX(0%);
  }
}
.t-d-01{
  &, &::after, &>*{
    transition-delay: 0.1s;
  }
}
.t-d-02{
  &, &::after, &>*{
    transition-delay: 0.2s;
  }
}
.t-d-03{
  &, &::after, &>*{
    transition-delay: 0.3s;
  }
}
.t-d-04{
  &, &::after, &>*{
    transition-delay: 0.4s;
  }
}
.t-d-05{
  &, &::after, &>*{
    transition-delay: 0.5s;
  }
}
.t-d-1{
  &, &::after, &>*{
    transition-delay: 1s;
  }
}