
.mFirstWrap{
  @include media-breakpoint-up(lg) {
    height: 300vh;
  }
}
.mFirst{
  min-height: 100vh;
  padding-top: 160px;
  border-color:currentColor;
  display: flex;
  flex-direction: column;
  position: relative;

  &__main{
    & h1, & h2{
      min-width: 50vw;
      width: 100%;
    }


    @include media-breakpoint-up(md) {
      margin-top: auto;
    }
  }
  &__title{
    @include media-breakpoint-up(lg) {
      max-width: 50vw;
      width: 100%;
      overflow: hidden;
    }
  }
  &__vid{
    position: absolute;
    top: 0;
    right: 0;
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }
}

.imgPar{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    padding-bottom: 30%;
    @include media-breakpoint-down(md) {
      padding-bottom: 40%;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 120%;
    }
  }
  img{
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    object-fit: cover;
  }
}
.mAdvantages{
  position: relative;
  z-index: 2;
  &__titleCol1{
    margin-top: -1.4em;
  }
  &__titleCol4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & .cap{
      margin-left: 3vw;
      @include media-breakpoint-down(md) {
        margin-left: 1vw;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 10px;
        margin-left: 7vw;
        
      }
    }
  }
}

.cource{
  &__item{
    position: relative;
    min-height: 200px;
    border-left: 1px solid $gray1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.3s;
    &>*{
      z-index: 5;
    }
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $secondary;
      transition: 0.5s ease-in-out ;
      transform: translateX(-100%);
    }
    .p1+.p1{
      margin-top: 40px;
    }
    &:hover{
      color:$white;
      &::before{
        transform: translateX(0);
      }
    }
  }
}
.mChildren{
  &__titleCol1{
    margin-top: -2.4em;
    @include media-breakpoint-down(sm) {
      margin-top: -1.2em;

    }
  }
}

.mPortfolio {
  &__col1{
    position: relative;
    width: 100%;
    height: 100%;
    &>div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150%;
      &>div{
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__col1I1{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 30%;
    background: #000;
  }
  &__col1T1{
    position: absolute;
    top: 31%;
    width: 70%;
  }
  &__col1I2{
    position: absolute;
    top: 45%;
    right: 0;
    width: 56%;
    height: 21%;
    background: #000;
  }
  &__col1T2{
    position: absolute;
    top: 67%;
    right: 0;
    width: 56%;
  }
  &__col1I3{
    position: absolute;
    top: 75%;
    left: 0;
    width: 56%;
    height: 22%;
    background: #000;
  }
  &__col1T3{
    position: absolute;
    top: 98%;
    // right: 0;
    width: 56%;
  }

  &__col2{
    position: relative;
    width: 100%;
    height: 100%;
    &>div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150%;
      &>div{
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__col2I1{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 30%;
    background: #000;
  }
  &__col2T1{
    position: absolute;
    top: 31%;
    width: 70%;
  }
  &__col2I2{
    position: absolute;
    top: 41%;
    right: 0;
    width: 56%;
    height: 21%;
    background: #000;
  }
  &__col2T2{
    position: absolute;
    top: 63%;
    right: 0;
    width: 56%;
  }
  &__col2I3{
    position: absolute;
    top: 70%;
    left: 0;
    width: 56%;
    height: 22%;
    background: #000;
  }
  &__col2T3{
    position: absolute;
    top: 94%;
    // right: 0;
    width: 56%;
  }
}

