@font-face {
  font-family: 'Twentytwelve';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/TwentytwelveSlab-Regular.ttf );
}

@font-face {
  font-family: 'Twentytwelve';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../font/TwentytwelveSlab-Bold.ttf );
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Montserrat.woff2) format('woff2');
}