@font-face {
  font-family: 'Twentytwelve';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@/assets/font/TwentytwelveSlab-Regular.ttf" );
}

@font-face {
  font-family: 'Twentytwelve';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~@/assets/font/TwentytwelveSlab-Bold.ttf" );
}

// @import "//hello.myfonts.net/count/3a8fe1";@font-face {
//   font-family: 'Twentytwelve';
//   src: url(webfonts/3A8FE1_0_0.eot);
//   src: url(webfonts/3A8FE1_0_0.eot?#iefix) format("embedded-opentype"),url(webfonts/3A8FE1_0_0.woff2) format("woff2"),url(webfonts/3A8FE1_0_0.woff) format("woff"),url(webfonts/3A8FE1_0_0.ttf) format("truetype")
// }


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@/assets/font/Montserrat.woff2"); 
}