@font-face {
  font-family: 'Twentytwelve';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@/assets/font/TwentytwelveSlab-Regular.ttf" );
}

@font-face {
  font-family: 'Twentytwelve';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~@/assets/font/TwentytwelveSlab-Bold.ttf" );
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@/assets/font/Montserrat.woff2");
}